#unos{
   
    margin-top:20%;
    font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color : white;
    padding: 10px;

}

#unos .form-control{
    background-color:#343a40;
    
   
}
#unos .form-control:hover{
   border-color: black;
   border: 2px solid white;
  
}

#unos .col-form-label{
    text-align: left !important;
    font-weight: bold;
}