.devices{

    
    padding: 1px;
    color : white;

    margin-top: 90px;}

.pagination{
    background-color:   rgb(0, 153, 153);
    text-align: center;
  
    margin:4px;
    padding: 2px;
    cursor: pointer;
    z-index: 2;
}

.pagination li{
    font-size: 25px !important;
    margin: 5px;
  

}

.pages .pagination{

    text-align: center;
}


#itemContent{

    background-color:  #343a40;
    max-width: 300px;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
    
}

#itemContent .delete{
    color: white;
}

.modal{

    position: fixed;
    top: 40%;
}