.devices{

    padding: 1px;
    color : white;
    margin-top: 90px;}

#devItem{
    background-color:  rgb(128, 128, 128, 0.4);
    background-image: url('back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
    padding: 5px;
    margin: 0px;
    height: 100vh;
}

#item{

   padding: 1px;
   margin-bottom: 2px;
  
}

#pagi{
    background-color:  rgb(128, 128, 128, 0.4);
}

.pagination{
    background-color:   rgb(0, 153, 153);
    text-align: center !important;
    width: 100%;
    margin:auto;
    padding: 2px;
    cursor: pointer;
    z-index: 2;
}

.pagination li{
    font-size: 25px !important;
    margin: 5px;
}

.pagination li:hover{
    font-size: 40px;
}

.pages .pagination{
    text-align: center;
}


#itemContent{
    border: 3px solid rgb(0, 153, 153) !important;
    background-color: rgb(52, 58, 64, 0.6);
    max-width: 300px;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
    
}

#itemContent .delete{
    color: white;
}

.modal{

    background-color: rgb(52, 58, 64, 0.6);
    height: auto;
    margin-top: 150px;
    border: 3px solid rgb(0, 153, 153) !important;
    color: rgb(255,255,255);
    float: right;
}

.modal-body{

    text-align: center;
    background-color: #343a40!important;
    border-bottom: 1px solid  rgb(0, 153, 153) !important;
    
}

.modal-header .delete{

    color: white;
    font-weight: bolder;
   
    
}

.modal-body img{
    margin: auto;
    max-width: 350px;
    width: 100%; 
    height: 300px; 
    text-align: center;
    border-radius: 10px;
    background-color: salmon;
}

.content .list-group{
    
    
    background-color: #343a40;
    border-radius: 15px;
    border: 1px solid rgb(0, 255, 255);
}

.modal-content{
  max-width: 500px !important;
  background-color: #343a40!important;
}




#itemContent .delete{
    border: none !important;
}


@media only screen and (max-width: 600px) {
    #devItem {
      height: auto;
      background-color:  rgb(128, 128, 128, 0.4);
      background-image: url('back.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%;
      background-blend-mode: overlay;
    }
  }