Nav{
    border-bottom: 3px solid rgb(0, 153, 153) !important;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 2;
    
    

   
}
.nav-link{
    color:rgb(255, 255, 255) !important;
   font-size: 18px;
    margin-right: 2px;
    text-transform: uppercase;
    
    
}




.link-active{
   color: rgb(0, 255, 255) !important; 

   border-bottom : 1px solid rgb(0, 255, 255);
}
.navbar-brand{
    font-size: 25px !important;
    color:rgb(255, 255, 255) !important;
    font-weight: bold;
}

.navbar-brand-active{
    color: rgb(0, 255, 255) !important; 

   border-bottom : 1px solid rgb(0, 255, 255);
}






